{% extends 'base/main2.html' %}
{% load static %}
{% block content %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6709399331817707"
     crossorigin="anonymous"></script>
<!-- horizontal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6709399331817707"
     data-ad-slot="3455888761"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('/static/assets/img/curved-images/curved8.jpg');">
<div class="container-fluid py-4" id="app">
      <div class="row">
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0"><u>Platform Benefits</u></h6>
            </div>
            <div class="card-body p-3">
              
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 text-sm">
                  
                    Completely Free Just for Everyone
                
                </li>
                <li class="list-group-item border-0 ps-0 text-sm">
                  
                    
                    Meeting/Call is completely Private
               
                </li>
                <li class="list-group-item border-0 ps-0 text-sm">
                  
                    
                    End to End Encryption(No one can Listen or <br>Join Your Meeting Without Room Name
                 
                </li>
              </ul>
              
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 text-sm">
                  
                  
                    Set Unique and Strong Room Names</label>
                  
                </li>
                <li class="list-group-item border-0 ps-0 text-sm">
                  
                    
                    Be waiting for platform Update
                  
                </li>
                <li class="list-group-item border-0 px-0 pb-0">
                  
                    
                    No Registration Or Login Required
                 
                </li>
                <h6 class="mb-0"><u>Restriction</u></h6>
                
                <li class="list-group-item border-0 ps-0 pb-0">
                  <strong class="text-dark text-sm">Any form of violence, racism, segregation, gossip or allegations etc will not be allowed</strong> &nbsp; liable to shutting down of meeting room or video call
                </li>
              </ul>
              </ul>
            </div>
          </div>
        </div>
        <script>(function(d,z,s){s.src='https://'+d+'/401/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('oaphoace.net',5413780,document.createElement('script'))</script>
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
              	        <br>
        <br>
                <div class="col-md-8 d-flex align-items-center">
                  <h6 class="mb-0"><u>Terms and Conditions</u></h6>
                </div>
                <div class="col-md-4 text-end">
                  <a href="javascript:;">
                    <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
             
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Clients are responsible for generating and sharing client names</strong>&nbsp; Other security issues are handled by peer company </li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Ads blockers will lead to failure to join or create a meeting room</strong> &nbsp;Turn off ur Ads blockers, Our ads are few and regulated, plus used to maintain patform cost without costing you anything</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Meeting here are not recorded and no record of it is kept</strong> &nbsp; Its like yoir meeting or video call never happened, all for Your Protection and Untracebility</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">The company have all right reserved to maintain, upgrade or take down this platform</strong> &nbsp; Without customer agreement or even notice</li>
                
            </div>
          </div>
        </div>
        <script>(function(d,z,s){s.src='https://'+d+'/400/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('waitheja.net',5413778,document.createElement('script'))</script>
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h6 class="mb-0"><u>Privacy Terms</u></h6>
                </div>
                <div class="col-md-4 text-end">
                  <a href="javascript:;">
                    <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
             
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Each single Meeting room is independent from the Other </strong>&nbsp;Un invited guess can't Join Unlesshaving the secret room name</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">For registered Users</strong> &nbsp;No one has access to ur registration/login credentials, not even company</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">No information sharing policy</strong> &nbsp; No information is shared with any other third party</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Each meeting room and its info exist only for the meeting time and later is deleted completely immediatly the meeting ends</strong> &nbsp; Without customer agreement or even notice</li>
                
            </div>
          </div>
        </div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6709399331817707"
     crossorigin="anonymous"></script>
<!-- horizontal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6709399331817707"
     data-ad-slot="3455888761"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock%}